* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}
body {
    height: 100vh;
}
.login-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.login-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 회원가입 인풋 화면 */
.auth-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.auth-wrapper {
    margin-top: 30px;
    width: 60%;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
input {
    padding: 5px;
    margin-bottom: 5px;
}
label {
    margin-bottom: 2px;
}
/* 버튼 css */
.id-check-btn,
.email-check-btn,
.phone-check-btn,
.post-btn {
    border-radius: 15px;
    border: none;
    padding: 7px;
    color: white;
    background-color: #181619;
}
.auth-btn {
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 15px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #181619;
    transition: active 0.3s ease-out;
}
.auth-btn:active {
    opacity: 0.5;
}
/* 버튼 css */
/* 회원가입 인풋 화면 */

/* 로그인 배너 화면 */
.login-banner-container {
    width: 50%;
    height: 100%;
    position: relative;
}
.login-banner-container a {
    text-decoration: none;
    color: white;
}
.login-banner {
    position: absolute;
    width: 100%;
    height: 100%;
}
.login-logo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
    margin-bottom: 20px;
}
.login-logo img {
    width: 9rem;
}
.login-logo-name {
    color: white;
    font-size: 4rem;
    font-family: "Gluten", cursive;
}
/* 로그인 배너 화면 */
