<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>everyday-party 관리자페이지</title>

    <!-- 아이콘 -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <!-- 커스텀CSS -->
    <link rel="stylesheet" href="../public/header/header.css" />
    <link rel="stylesheet" href="../admin/admin.css" />
    <script type="module" src="/views/admin/admin.js"></script>
  </head>
  <body>
    <div id="admin_title">관리자 페이지</div>
    <div id="admin_container">
      <!-- 관리자 권한 사이드바 -->
      <div id="side_bar">
        <div id="menu_container">
          <div id="products_menu">
            <div id="products_admin">상품정보 관리</div>
            <li><a href="#">상품 수정 </a></li>
            <li><a href="#">상품 추가 </a></li>
            <li><a href="#">상품 삭제 </a></li>
          </div>

          <div id="category_menu">
            <div id="category_admin">카테고리 관리</div>
            <li><a href="#">카테고리 수정 </a></li>
            <li><a href="#">카테고리 추가 </a></li>
            <li><a href="#">카테고리 삭제 </a></li>
          </div>

          <div id="orderinfo_menu">
            <div id="orderinfo_admin">주문정보 관리</div>
            <li><a href="#">주문정보 수정</a></li>
            <li><a href="#">주문정보 조회</a></li>
            <li><a href="#">주문정보 삭제</a></li>
          </div>
        </div>
      </div>
      <!-- 관리 메인 페이지 -->
      <div id="main_container">
        <div>왼쪽의 사이드 메뉴 클릭 시 해당 관리 항목이 표시되는 부분</div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
      <div class="footer-logo">
        <a href="/"
          ><img class="logo-image" src="../public/image/logo.png"
        /></a>
      </div>
    </footer>
  </body>
</html>
