* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* 장바구니 타이틀 */
#admin_title {
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*전체 틀*/
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 800px;
}
.side-bar {
    width: 20%;
    height: 100%;
    background-color: #f0f0f5;
}
.side-bar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 5px;
    width: 100%;
    height: 20%;
}
.side-bar ul li {
    font-size: 24px;
    width: 100%;
}
/* 메인 파트 */
.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 75%;
    height: 100%;
    background-color: #f0f0f5;
}
.main-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.main-title span {
    font-size: 36px;
    font-weight: 600;
    color: #000000;
}
.main-category {
    display: flex;
    width: 95%;
}
.main-category ul {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
}
.main-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow-y: auto;
    width: 95%;
    height: 95%;
}
.list-container {
    width: 100%;
    height: 100%;
}
.list-wrapper {
    width: 100%;
    height: 25%;
    border: 2px solid black;
    background-color: white;
    margin-bottom: 10px;
}
.list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 0 20px;
}
.list-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
}
.list-body div {
    width: 8%;
    font-size: 12px;
    word-wrap: break-word;
}
.list-body img {
    width: 100px;
    height: 100px;
}

.hide {
    display: none !important;
}
.show {
    display: block;
}
/* .main-list ul {
    width: 90%;
    height: 100%;
}
.main-list ul li {
    width: 100%;
    height: 25%;
    background-color: white;
    margin-bottom: 10px;
    overflow-x: auto;
} */

/* product details page */
.product-details-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: 100%;
    overflow-y: auto;
}
.product-details-page img {
    width: 200px;
}
.product-details-page input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
.product-details-page button {
    width: 30%;
}
.product-details-page span {
    font-size: 12px;
    color: red;
}
/*============Footer============*/
.footer-logo {
    margin-top: 80px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcedc4;
}
.footer-logo a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
}
/*============Footer============*/
