<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>everyday-party 관리자페이지</title>

    <!-- 아이콘 -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <!-- 커스텀CSS -->
    <link rel="stylesheet" href="../public/header/header.css" />
    <link rel="stylesheet" href="../admin/admin.css" />
    <script type="module" src="/views/admin/admin.js"></script>
  </head>
  <body>
    <div class="admin_container">
      <h1 id="admin_title">관리자 페이지</h1>

      <nav class="nav">
        <div class="menu_container">
          <ul class="products_menu">
            <h2>상품정보 관리</h2>
            <li><a href="#">상품 수정 </a></li>
            <li><a href="#">상품 추가 </a></li>
            <li><a href="#">상품 삭제 </a></li>
          </ul>

          <ul class="category_menu">
            <h2>카테고리 관리</h2>
            <li><a href="#">카테고리 수정 </a></li>
            <li><a href="#">카테고리 추가 </a></li>
            <li><a href="#">카테고리 삭제 </a></li>
          </ul>

          <ul class="orderinfo_menu">
            <h2>주문정보 관리</h2>
            <li><a href="#">주문정보 수정</a></li>
            <li><a href="#">주문정보 조회</a></li>
            <li><a href="#">주문정보 삭제</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
