* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #181619;
}

li {
    list-style: none;
    
}

header li {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #181619;
}

/* 탑메뉴 */
.top_menu_wrap {
    padding: 12px 0;
    background-color: #F9E103;
}   

.logo {
    width: 12%;
    cursor: pointer;
}

.top_menu {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.user_menu {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
}

/* 카테고리 */
nav {
    border-bottom: 1px solid #eee;
}

.category_wrap {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.all_category_icon {
    height: 24px;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.category > li {
    width: 10%;
    font-weight: 600;
    text-align: center;
}
