li {
    list-style: none;
    cursor: pointer;
}

a {
    width: 12%;
    text-decoration: none;
    color: #181619;
}
/* 탑메뉴 */
.top_menu_wrap {
    position: absolute;
    padding: 12px 0;
    background-color: #f9e103;
    width: 100vw;
    z-index: 1;
}

.logo {
    width: 100%;
    cursor: pointer;
}

.top_menu {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.user_menu {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
}
