<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/main.css" />
        <!--로고 이름 폰트-->
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Gluten:wght@400;500;600&family=Noto+Sans+KR&display=swap");
        </style>
        <!-- iconify -->
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
        <title>Document</title>
    </head>
    <body>
        <header class="header">
            <div class="header-container">
                <div class="navbar-logo">
                    <a href="/"
                        ><img class="logo-image" src="../images/logo.png" width="30" height="30" /><span
                            class="logo-name"
                            >EVERYDAY<br />PARTY</span
                        >
                    </a>
                </div>
                <div class="navbar-end">
                    <ul id="navbar">
                        <li>로그인</li>
                        <li>회원가입</li>
                        <li>장바구니</li>
                    </ul>
                </div>
            </div>
        </header>
        <nav class="nav">
            <div class="menu-container">
                <ul class="menu">
                    <li id="all-category-btn">
                        <a href="#"><iconify-icon icon="mingcute:menu-fill"></iconify-icon></a>
                    </li>
                    <li><a href="#">신상품</a></li>
                    <li><a href="#">베스트50</a></li>
                    <li><a href="#">의류</a></li>
                    <li><a href="#">소품</a></li>
                    <li><a href="#">풍선</a></li>
                    <li><a href="#">장치</a></li>
                </ul>
            </div>
            <div class="all-category-container">
                <div class="semi-container">
                    <ul class="all-category">
                        <li>ddd</li>
                        <li>ssss</li>
                        <li>ffff</li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="slide-section">
            <div class="slide-container">
                <ul class="slider-list">
                    <li><img src="../images/파티1.PNG" /></li>
                    <li><img src="../images/파티2.PNG" /></li>
                    <li><img src="../images/파티3.PNG" /></li>
                    <li><img src="../images/파티4.PNG" /></li>
                    <li><img src="../images/파티1.PNG" /></li>
                </ul>
            </div>
        </section>
        <h1 class="title-best-products">베스트 상품</h1>
        <section class="best-products-section">
            <div class="best-products-container">
                <ul class="best-products-list">
                    <li>
                        <article id="best_card_container">
                            <div class="menu_card">
                                <div class="card_img_wrap">
                                    <img class="card_img" src="../images/파티1.PNG" alt="테스트 이미지" />
                                </div>
                                <div class="card_contents">
                                    <h3 class="card_title">크리스마스 카드</h3>
                                    <div class="purchase_info_wrap">
                                        <span class="card_price">3,000원</span>
                                        <button class="card_cart_button">장바구니 버튼</button>
                                    </div>
                                    <p class="card_review">999+</p>
                                </div>
                            </div>
                            <div class="menu_card">
                                <div class="card_img_wrap">
                                    <img class="card_img" src="../images/파티1.PNG" alt="테스트 이미지" />
                                </div>
                                <div class="card_contents">
                                    <h3 class="card_title">크리스마스 카드</h3>
                                    <div class="purchase_info_wrap">
                                        <span class="card_price">3,000원</span>
                                        <button class="card_cart_button">장바구니 버튼</button>
                                    </div>
                                    <p class="card_review">999+</p>
                                </div>
                            </div>
                            <div class="menu_card">
                                <div class="card_img_wrap">
                                    <img class="card_img" src="../images/파티1.PNG" alt="테스트 이미지" />
                                </div>
                                <div class="card_contents">
                                    <h3 class="card_title">크리스마스 카드</h3>
                                    <div class="purchase_info_wrap">
                                        <span class="card_price">3,000원</span>
                                        <button class="card_cart_button">장바구니 버튼</button>
                                    </div>
                                    <p class="card_review">999+</p>
                                </div>
                            </div>
                            <div class="menu_card">
                                <div class="card_img_wrap">
                                    <img class="card_img" src="../images/파티1.PNG" alt="테스트 이미지" />
                                </div>
                                <div class="card_contents">
                                    <h3 class="card_title">크리스마스 카드</h3>
                                    <div class="purchase_info_wrap">
                                        <span class="card_price">3,000원</span>
                                        <button class="card_cart_button">장바구니 버튼</button>
                                    </div>
                                    <p class="card_review">999+</p>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article id="best_card_container">
                            <div class="menu_card">
                                <div class="card_img_wrap">
                                    <img class="card_img" src="../images/파티1.PNG" alt="테스트 이미지" />
                                </div>
                                <div class="card_contents">
                                    <h3 class="card_title">크리스마스 카드</h3>
                                    <div class="purchase_info_wrap">
                                        <span class="card_price">3,000원</span>
                                        <button class="card_cart_button">장바구니 버튼</button>
                                    </div>
                                    <p class="card_review">999+</p>
                                </div>
                            </div>
                            <div class="menu_card">
                                <div class="card_img_wrap">
                                    <img class="card_img" src="../images/파티1.PNG" alt="테스트 이미지" />
                                </div>
                                <div class="card_contents">
                                    <h3 class="card_title">크리스마스 카드</h3>
                                    <div class="purchase_info_wrap">
                                        <span class="card_price">3,000원</span>
                                        <button class="card_cart_button">장바구니 버튼</button>
                                    </div>
                                    <p class="card_review">999+</p>
                                </div>
                            </div>
                            <div class="menu_card">
                                <div class="card_img_wrap">
                                    <img class="card_img" src="../images/파티1.PNG" alt="테스트 이미지" />
                                </div>
                                <div class="card_contents">
                                    <h3 class="card_title">크리스마스 카드</h3>
                                    <div class="purchase_info_wrap">
                                        <span class="card_price">3,000원</span>
                                        <button class="card_cart_button">장바구니 버튼</button>
                                    </div>
                                    <p class="card_review">999+</p>
                                </div>
                            </div>
                            <div class="menu_card">
                                <div class="card_img_wrap">
                                    <img class="card_img" src="../images/파티1.PNG" alt="테스트 이미지" />
                                </div>
                                <div class="card_contents">
                                    <h3 class="card_title">크리스마스 카드</h3>
                                    <div class="purchase_info_wrap">
                                        <span class="card_price">3,000원</span>
                                        <button class="card_cart_button">장바구니 버튼</button>
                                    </div>
                                    <p class="card_review">999+</p>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
            </div>
        </section>
        <h1 class="title-events-collection">이벤트 모아보기</h1>
        <section class="events-collection-section">
            <div class="events-collection-container">
                <ul class="events-collection-list">
                    <li><img src="../images/파티1.PNG" /></li>
                    <li><img src="../images/파티2.PNG" /></li>
                    <li><img src="../images/파티3.PNG" /></li>
                    <li><img src="../images/파티4.PNG" /></li>
                    <li><img src="../images/파티1.PNG" /></li>
                    <li><img src="../images/파티3.PNG" /></li>
                </ul>
            </div>
        </section>
        <h1 class="title-reviews">리뷰</h1>
        <section class="reviews-section">
            <div class="reviews-container">
                <ul class="reviews-list">
                    <li><img src="../images/파티1.PNG" /></li>
                    <li><img src="../images/파티2.PNG" /></li>
                    <li><img src="../images/파티3.PNG" /></li>
                    <li><img src="../images/파티4.PNG" /></li>
                </ul>
            </div>
        </section>
        <footer class="footer">
            <div class="footer-logo">
                <a href="/"
                    ><img class="logo-image" src="../images/logo.png" width="30" height="30" /><span class="logo-name"
                        >EVERYDAY<br />PARTY</span
                    >
                </a>
            </div>
        </footer>
    </body>
    <script type="module" src="../utils/showAllCategory.js"></script>
</html>
