* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #181619;
}

button {
    cursor: pointer;
}

.category_section {
    max-width: 1200px;
    margin: 0 auto;
}

.category_title {
    text-align: center;
    margin: 100px;
}

.best_card_title,
.card_amount {
    font-size: 18px;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
    font-weight: 500;
}

/* 드롭다운 필터 */
.select_wrap {
    display: flex;
    justify-content: space-between;
}

.select {
    position: relative;
    width: 112px;
}

.select .label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: none;
    border: 1px solid #181619;
    border-radius: 2px;
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 500;
}

.select .option_list {
    position: absolute;
    width: 100%;
    border: 1px solid #181619;
    border-radius: 2px;
    margin-top: 6px;
    font-size: 14px;
    display: none;
}

.select.active .option_list {
    display: block;
}

.select .option_list .option {
    padding: 6px;
    text-align: center;
}

.select .option_list .option:hover {
    background-color: #ccc;
}

/* 카드 스타일 */
.best_card_container,
.card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
    margin-bottom: 60px;
}

.category_best_card,
.category_card {
    max-height: 560px;
    cursor: pointer;
}

.card_img_wrap {
    overflow: hidden;
}

.card_img {
    display: block;
    width: 285px;
    height: 320px;
    transition: all .6s;
}

.card_img:hover {
    transform: scale(1.1);
}

.card_title {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0;
}


.purchase_info_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_price {
    font-size: 18px;
    font-weight: 900;
}

.card_cart_button {
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    border: none;
    transition: all .4s;
    background: url('https://api.iconify.design/bi/bag.svg?color=%23181619&width=24') no-repeat center center / contain;
}

.card_cart_button:hover {
    background: url('https://api.iconify.design/bi/bag-fill.svg?color=%23181619&width=24') no-repeat center center / contain;
}

.card_review {
    font-size: 14px;
    color: #888;
}

.card_review::before {
    display: inline-block;
    content: '';
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background: url('https://api.iconify.design/teenyicons/chat-outline.svg?color=%23888&width=12') no-repeat center center / contain;
}

/* 에러 페이지 */
.best_error_container,
.card_error_container {
    margin-bottom: 60px;
}


.not_found_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 30px;
}

.not_found_card p {
    color: #ccc;
}