<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../public/image/favicon.png" type="image/x-icon">
    <!-- css -->
    <link rel="stylesheet" href="../public/header/header.css">
    <link rel="stylesheet" href="./orderDetail.css">
    <!-- js -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script type="module" src="./orderDetail.js"></script>
    <title>everyday party</title>
</head>

<body>
    <section class="order_section">
        <h1 class="order_title">주문이 완료되었습니다!</h1>
        <img class="delivery_icon" src="../public/image/delivery.png" alt="택배 배송 이미지">
        <div class="order_details"></div>
        <div class="page_movement_button">
            <button class="main_button"><a href="/">쇼핑 계속하기</a></button>
            <button class="mypage_button"><a href="localhost5000/myPage">마이 페이지로 이동</a></button>
        </div>
    </section>
</body>

</html>