<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700;900&display=swap"
        rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="./menuDetail.css">
    <link rel="stylesheet" href="../public/Header/Header.css">
    <!-- js -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script type="module" src="./MenuDetail.js"></script>

    <title>everyday party</title>
</head>

<body>
    <section class="menu_detail_section">
        <!-- 카테고리 타이틀 -->
        <h1 class="menu_category_title">카테고리 제목</h1>

        <!-- 베스트 상품  -->
        <h2 class="best_card_title">BEST ITEM</h2>
        <article id="best_card_container">
            <div class="menu_card">
                <div class="card_img_wrap">
                    <img class="card_img" src="../public/image/test.png" alt="테스트 이미지">
                </div>
                <div class="card_contents">
                    <h3 class="card_title">크리스마스 카드</h3>
                    <div class="purchase_info_wrap">
                        <span class="card_price">3,000원</span>
                        <button class="card_cart_button">장바구니 버튼</button>
                    </div>
                    <p class="card_review">999+</p>
                </div>
            </div>
        </article>

        <!-- 필터 -->
        <div class="card_filter_wrap">
            <h2 class="card_amount">총 50건</h2>
            <select name="card" class="card_select">
                <option value="best" selected>인기순</option>
                <option value="high_price">높은 가격순</option>
                <option value="row_price">낮은 가격순</option>
                <option value="high_review">높은 리뷰순</option>
            </select>
        </div>
        
        <!-- 상품 리스트 -->
        <article id="best_card_container">
            <div class="menu_card">
                <div class="card_img_wrap">
                    <img class="card_img" src="../public/image/test.png" alt="테스트 이미지">
                </div>
                <div class="card_contents">
                    <h3 class="card_title">크리스마스 카드</h3>
                    <div class="purchase_info_wrap">
                        <span class="card_price">3,000원</span>
                        <button class="card_cart_button">장바구니 버튼</button>
                    </div>
                    <p class="card_review">999+</p>
                </div>
            </div>
        </article>
    </section>
</body>

</html>
