<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./main.css" />
        <!-- 배너 슬라이더 바 라이브러리 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <!--로고 이름 폰트-->
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Gluten:wght@400;500;600&family=Noto+Sans+KR&display=swap");
        </style>
        <!-- iconify -->
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
        <title>Document</title>
        <!-- header -->
        <link rel="stylesheet" href="../public/header/header.css" />
        <script type="module" src="./main.js"></script>
    </head>
    <body>
        <!-- Banner Slide Part -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide05"><img src="./images/크리스마스.jpg" /></div>
                <div class="swiper-slide slide01"><img src="./images/할로윈.jpg" /></div>
                <div class="swiper-slide slide02"><img src="./images/생일.jpg" /></div>
                <div class="swiper-slide slide03"><img src="./images/크리스마스.jpg" /></div>
                <div class="swiper-slide slide04"><img src="./images/할로윈.jpg" /></div>
                <div class="swiper-slide slide05"><img src="./images/생일.jpg" /></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <!-- Best Products Part -->
        <h1 class="title-best-products">
            <iconify-icon icon="fluent-emoji-flat:crown" style="font-size: 35px" flip="horizontal"></iconify-icon>BEST<iconify-icon
                icon="fluent-emoji-flat:crown"
                style="font-size: 35px"
                flip="horizontal"
            ></iconify-icon>
        </h1>
        <section class="best-products-section">
            <div class="best-products-container">
                <!--베스트 상품 리스트-->
            </div>
        </section>
        <!-- Event Collection Part -->
        <h1 class="title-events-collection">EVENT</h1>
        <section class="events-collection-section">
            <div class="events-collection-container">
                <ul class="events-collection-list">
                    <li>
                        <a href="#"><img src="./images/생일.jpg" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="./images/할로윈.jpg" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="./images/크리스마스.jpg" /></a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Review Part -->
        <h1 class="title-reviews">REVIEW</h1>
        <section class="reviews-section">
            <div class="reviews-container">
                <!--리뷰 리스트-->
            </div>
        </section>
        <!-- Footer Part -->
        <footer class="footer">
            <div class="footer-logo">
                <a href="/"
                    ><img class="logo-image" src="./images/logo.png" width="30" height="30" /><span class="logo-name">EVERYDAY<br />PARTY</span>
                </a>
            </div>
        </footer>
    </body>
</html>
