<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./main.css" />
        <!-- 배너 슬라이더 바 라이브러리 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <!--로고 이름 폰트-->
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Gluten:wght@400;500;600&family=Noto+Sans+KR&display=swap");
        </style>
        <!-- iconify -->
        <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
        <title>Document</title>
        <!-- header -->
        <link rel="stylesheet" href="../public/header/header.css" />
        <script type="module" src="./main.js"></script>
    </head>
    <body>
        <!-- Banner Slide Part -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide slide05"><img src="./images/파티2.PNG" /></div>
                <div class="swiper-slide slide01"><img src="./images/파티1.PNG" /></div>
                <div class="swiper-slide slide02"><img src="./images/파티2.png" /></div>
                <div class="swiper-slide slide03"><img src="./images/파티3.PNG" /></div>
                <div class="swiper-slide slide04"><img src="./images/파티4.PNG" /></div>
                <div class="swiper-slide slide05"><img src="./images/파티2.PNG" /></div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <!-- Best Products Part -->
        <h1 class="title-best-products">BEST</h1>
        <section class="best-products-section">
            <div class="best-products-container">
                <!--베스트 상품 리스트-->
            </div>
        </section>
        <!-- Event Collection Part -->
        <h1 class="title-events-collection">EVENT</h1>
        <section class="events-collection-section">
            <div class="events-collection-container">
                <ul class="events-collection-list">
                    <li><img src="./images/파티1.PNG" /></li>
                    <li><img src="./images/파티2.PNG" /></li>
                    <li><img src="./images/파티3.PNG" /></li>
                    <li><img src="./images/파티4.PNG" /></li>
                    <li><img src="./images/파티1.PNG" /></li>
                    <li><img src="./images/파티3.PNG" /></li>
                </ul>
            </div>
        </section>
        <!-- Review Part -->
        <h1 class="title-reviews">REVIEW</h1>
        <section class="reviews-section">
            <div class="reviews-container">
                <ul class="reviews-list">
                    <li>
                        <img src="./images/파티1.PNG" />
                        <div class="review-details">
                            <span>크리스마스 풍선</span>
                            <p>너무 만족스럽네요</p>
                            <div>작성자 | 2023-11-03</div>
                        </div>
                    </li>
                    <li>
                        <img src="./images/파티2.PNG" />
                        <div class="review-details">
                            <span>크리스마스 풍선</span>
                            <p>너무 만족스럽네요</p>
                            <div>작성자 | 2023-11-03</div>
                        </div>
                    </li>
                    <li>
                        <img src="./images/파티3.PNG" />
                        <div class="review-details">
                            <span>크리스마스 풍선</span>
                            <p>너무 만족스럽네요</p>
                            <div>작성자 | 2023-11-03</div>
                        </div>
                    </li>
                    <li>
                        <img src="./images/파티4.PNG" />
                        <div class="review-details">
                            <span id="review-title">크리스마스 풍선</span>
                            <p id="review-content">너무 만족스럽네요</p>
                            <div id="review-user-date">작성자 | 2023-11-03</div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Footer Part -->
        <footer class="footer">
            <div class="footer-logo">
                <a href="/"
                    ><img class="logo-image" src="./images/logo.png" width="30" height="30" /><span class="logo-name"
                        >EVERYDAY<br />PARTY</span
                    >
                </a>
            </div>
        </footer>
    </body>
</html>
