* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

/* 장바구니 타이틀 */
.cart_title {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  padding-top: 40px;
  margin-top: 40px;
  /* border-bottom: solid #dee81e 1px; */
  /* padding-bottom: 10px; */
}

/*============장바구니 Part============*/

body {
  font-size: 16px;
  font-weight: bold;
  color: #181619;
}

/* 장바구니 item 디자인 */
.itemDiv {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  height: 180px;
  margin: 10px;

  /* align-content: center; */
  align-items: center;
  border: solid #ddd 1px;
  margin-bottom: 15px;
  font-size: 25px;
}

.cart_container {
  /* width: 100vw;
  margin-right: auto; */
  display: flex;
  justify-content: center;
}

.order_container {
  margin-top: 50px;
  display: flex;
  width: 1200px;
  height: 1000px;
  justify-content: space-evenly;
  align-content: center;
  margin-right: 10px;
  margin-left: 10px;
}

/* 상품목록 */
/* TODO: border삭제 */
.items_container {
  display: flex;
  width: 65%;
  height: auto;
  text-align: center;
  flex-direction: column;
  font-size: 12.5px;
  font-weight: bold;
  /* border: solid #ddd 1px; */
  margin-top: -1px;
}

/* 전체삭제 선택삭제 */
.delete_container {
  display: flex;
  margin: 10px;
}

.delete_all_button,
.delete_checked_button {
  font-weight: bold;
  margin-left: 15px;
  background-color: #f0f0f5;
  cursor: pointer;
}

.image_is_96x96_helper {
  display: flex;
}

.checkbox_helper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input[type='checkbox'] {
  display: none;
}
input[type='checkbox'] {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid #707070;
  position: relative;
}

/* 상품명가격집합 */
#itemNamePrice {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 180px;
  width: 450px;
  /* padding-left: 100px; */
  font-size: 30px;
  flex-direction: row;
}

.itemQuantity {
  display: flex;
  border: 1px solid #707070;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #bab3b3;
}

.plusButton,
.minusButton {
  display: flex;
  border: 1px solid #707070;
  justify-content: center;
  width: 35px;
  height: 35px;
  font-size: 30px;
  align-items: center;
  background-color: #707070;
}

/* 수량조절버튼집합 */
.quantityButtons {
  display: flex;
  height: 180px;
  width: 100px;
  /* padding-top: 120px; */
  flex-direction: row;
  align-items: center;
}

.removeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://api.iconify.design/mdi/trashcan-outline.svg');
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
}

.removeButton:hover {
  background-color: #f9e103;
  cursor: pointer;
}
/*============장바구니 Part============*/

/*============결제금액 요약정보 Part============*/

/* 결제금액 */
/* TODO: border삭제 */
.purchase_container {
  display: flex;
  width: 40%;
  flex-direction: column;
  text-align: center;
  font-size: 12.5px;
  font-weight: bold;
  /* border: solid #ddd 1px; */
  padding-top: 50px;
  padding-left: 10px;
}

.purchase_helper {
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #f0f0f5;
  padding: 10px 30px;
}

.sum_price_text {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.sum_price_helper {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  color: red;
}

.sum_price_unit {
  margin-top: 20px;
}

.total_price {
  font-size: 25px;
}

.total_price_text,
.total_price_number,
.shipping_fee_text,
.shipping_fee_number {
  font-size: 25px;
}

.price_shipping_helper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
}

.total_price_helper,
.shipping_fee_helper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.total_price_text,
.shipping_fee_text {
  text-align: left;
}

.items_list {
  height: 800px;
  overflow-y: auto;
}

/*============결제금액 요약정보 Part============*/

/*============구매 및 쇼핑계속하기 Part============*/

/* 구매버튼 */
/* TODO: border삭제 */
.pay_container {
  display: flex;
  width: auto;
  flex-direction: column;
  text-align: center;
  padding: 15px 0px;
  font-size: 12.5px;
  font-weight: bold;
  /* border: solid #ddd 1px; */
  margin-top: 20px;
}

.pay_helper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.all_order_button {
  background-color: #181619;
  color: white;
  font-weight: bold;
  width: 220px;
  height: 100px;
  font-size: large;
}

.selected_order_button {
  background-color: #f9e103;
  color: #181619;
  font-weight: bold;
  width: 220px;
  height: 100px;
  font-size: large;
}

.keep_shopping_button_helper {
  display: flex;
  margin-top: 20px;
}

.keep_shopping_button {
  background-color: transparent;
  font-weight: bold;
  width: 100%;
  height: 100px;
  font-size: large;
}
/*============구매 및 쇼핑계속하기 Part============*/

/*============Footer Part============*/
.footer-logo {
  margin-top: 80px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcedc4;
}
.footer-logo a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
}
/*============Footer Part============*/
